@page "/"

<PageTitle>Microsoft Graph on Azure Static Web Apps</PageTitle>

<h1>Microsoft Graph on Azure Static Web Apps</h1>

<div>
    <h2>Login Details</h2>

    <div class="container" hidden="@IsHidden">
        <div class="mb-3">
            <label for="upn" class="form-label">UPN</label>
            <input type="email" class="form-control form-control-lg" id="upn" value="@Upn" aria-label="UPN" readonly>
        </div>
        <div class="mb-3">
            <label for="display-name" class="form-label">Display Name</label>
            <input type="email" class="form-control form-control-lg" id="display-name" @bind="@DisplayName" aria-label="Display Name" readonly>
        </div>
    </div>
</div>
